	<!-- Elements Section -->
<section id="event" class="section dark">
	<div class="container">
<div data-brackets-id="6197" class="icon-wrap"><span data-brackets-id="6198" class="icon icon-active icon-graphic-design-07"></span></div>
	<h3>Events</h3>
		<section class="vc-example">
			<article class="article-big">
			 
				<p class="big">Diwali and Holi are our showcase events. We work round the year to ensure that the acts and performances as well as the gastronomic indulgences are of the highest order. We are generously supported by the Indian community at San Diego and also our Sponsors.</p>
	 
			</article>
		</section>
<section class="row">
			<div class="col-md-4 col-sm-3 col-xs-6">
				<div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="0">
					<div class="img-wrapper">
						<img src="assets/img/events/diwali.jpg" class="img-responsive img-circle" alt="speaker-1">
					</div>
					<br/>
					<p class="big">Diwali</p>
					
				</div>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-6">
				<div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="500">
					<div class="img-wrapper">
						<img src="assets/img/events/holi.jpg" class="img-responsive img-circle" alt="speaker-2">
					</div>
					<br/>
					<p class="big">Holi</p>
					
				</div>
			</div>
			<div class="clearfix visible-xs"></div>
			<div class="col-md-4 col-sm-3 col-xs-6">
				<div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
					<div class="img-wrapper">
						<img src="assets/img/events/fresher.jpg" class="img-responsive img-circle" alt="speaker-3">
					</div>
					<br/>
					<p class="big">Fresher's Welcome</p>
					
				</div>
			</div>
		</section>
 <br/>
<div class="btn-wrapper">
	<iframe src="https://www.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=400&amp;wkst=1&amp;bgcolor=%23cccccc&amp;src=ucsd.aigs%40gmail.com&amp;color=%232F6309&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="800" height="400" frameborder="0" scrolling="no"></iframe>
	<hr>
	<a class="typeform-share button btn btn-primary btn-sm" href="http://fb.com/groups/aigsucsd" data-mode="1" target="_blank">Connect</a>
		</div>
	<p class ="big">
		and never miss out on an event!
	</p>	
	</div>
</section>
<!-- End Elements Section -->
<!-- Map Section -->
<section id="map" class="dark">
<div class="container">
</div>
</section>
<!-- End Map Section -->