<!-- Header -->
<header id="header" class="navigation-bar-header light hidden-xs">
  <div class="container">
    <nav class="navigation">
      <div class="navigation-txt visible-xs" data-toggle="dropdown">Home</div>
      <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="navigation-bar navigation-bar-left">
        <li><a href="/">AIGS@UCSD</a></li>
        <li><a href="/#home">News</a></li>
        <li><a href="/#event">Events</a></li>
        <!-- <li><a href="/#gallery">Gallery</a></li> -->
        <!-- <li><a href="#faq">FAQ</a></li> -->
        <li><a href="/#about">About Us</a></li>
        <!-- <li><a href="/#contact">Contact</a></li> -->
        <li class="featured"><a class="btn btn-primary btn-sm" href="http://fb.com/groups/aigsucsd" data-mode="1" target="_blank">Connect With Us</a></li>
      </ul>
    </nav>
  </div>      
</header>
<!-- End Header -->