<!-- Preloader -->
<div id="mask">
	<div id="loader"><img src="assets/img/preloader.gif" alt="preloader" /></div>
</div>
<header id="mobileheader" class="navigation-bar-header light visible-xs"></header>
<!-- Hero Section -->
<section id="hero" class="light position-relative">
	<div class="container">
		<div class="home-bg">
			<nav class="navigation navigation-social">
				<ul class="navigation-bar">
					<li><a href="http://fb.com/groups/aigsucsd" target="_blank"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://www.linkedin.com/groups?gid=6734405" target="_blank"><span class="fa fa-linkedin"></span></a></li>
				</ul>
			</nav>
			<div class="hero-content text-center ">
				<div class="hero-small">
					<hr/><span>Home of the Indian Graduate Students @ UCSD</span><hr/>
				</div>
				<div class="hero-big">AIGS @ UCSD</div>
				<div class="hero-normal">Be Sanskaari!</div>
				<div class="container">
</div>
</div>

<div class="icon-wrap">
<span class="icon icon-active icon-arrows-06" style="font-size:70px;"></span>
</div>
</div> 
</div>
</div>

<div class="round-btn travellr-round-btn" onclick="location.href='#support'">
	<div class="round-btn-label">

	</div>
	<a href="#support">Support Us</a>
</div>
</section> 
<!-- End Hero Section -->
