<!-- Members Section -->
<section id="about" class="section dark">
<div class="container" style="position:relative">
	<div class="icon-wrap"><span class="icon icon-active icon-realestate-living-03"></span></div>
	<h3>AIGS Members</h3>
	<br/>
	<br/>
	<section class="row travellers">

		{% for member in site.data.members  %}
		<div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-6">
			<div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="200">
				<div class="img-wrapper">
					{% if member.img != null  %}
					<img src="assets/img/members/{{ member.img }}" class="img-responsive img-circle" alt="{{ member.name }}">
					{% else %}
					<img src="assets/img/members/cat.png" class="img-responsive img-circle member-thumbnail" alt="{{ member.name }}">
					{% endif  %}
				</div>
				<br/>	
				<div class="traveller-title">{{ member.preferred_title }}</div>
				<div class="name">{{ member.name }}</div>
					{% if member.personal_website != null  %}
					<div class="sub"><a href="{{ member.personal_website }}" target="_blank">{{ member.degree }}</a></div>
					{% else  %}
					<div class="sub">{{ member.degree }}</div>
					{% endif  %}
					<div class="email"><a href="mailto:{{ member.preferred_email}}">Email {{ member.name }}!</a></div>
			</div>						
		</div>
		{% endfor  %}
</section>
</div>
</section>
<!-- End Member Section -->
