<!-- Quote Section -->
<section id="quote" class="section light">
	<div class="overlay"></div>
	<div class="container">
		<article class="article-big animated hiding" data-animation="fadeInDown" data-delay="0">
			<h5 style="margin-top:40px; font-weight:300">“It was when I realised I had a new nationality: I was in exile. I am an adulterous resident: when I am in one city, I am dreaming of the other. I am an exile; citizen of the country of longing.”</h5>
			<p class="big" style="float:right; margin-right:100px;">- Suketu Mehta</p>
		</article>
	</div>
</section>
<!-- End Quote Section -->