<!-- Stat Section -->
<section id="stat" class="section light">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
					<div class="stat"><span class="value" data-from="0" data-to="3">3</span></div>
					<div class="stat-info">events</div>
					<hr />
					<p class="small">Diwali, Holi &amp; Fresher's Welcome. We keep ourselves busy throughout the year</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
					<div class="stat"><span class="value" data-from="0" data-to="60">60</span></div>
					<div class="stat-info">members</div>
					<hr />
					<p class="small">and growing...</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
					<div class="stat"><span class="value" data-from="0" data-to="1500">1500</span></div>
					<div class="stat-info">attendees</div>
					<hr />
					<p class="small">at our events! We keep scouting for larger venues</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
					<div class="stat"><span class="value" data-from="0" data-to="1">1</span></div>
					<div class="stat-info">Team</div>
					<hr />
					<p class="small">A bunch of dedicated team-members committed to fostering Indian Cultural ties within the UCSD community</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Stat Section -->